.home-container {
    background-color: #2d2d2d;
    padding: 20px;
    border-radius: 8px;
  }
  
  .avatar {
    width: 33rem;
    height: 30rem;
    margin-bottom: 10px;
    border-radius: 50%;
    border: 2px solid #ccc;
  }
  
  .name {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .title,
  .subtitle,
  .description,
  .quote,
  .experience,
  .address,
  .phone,
  .email {
    color: #ccc;
    font-size: 0.875rem;
    margin-bottom: 5px;
  }
  